
%br
%br
.row
    .span8
        .login_box
            %h1 System Login
            = form_tag sessions_path, :class => "form form-inline" do
                .field
                    %br
                    %p Email:
                    %p= text_field_tag :email, params[:email]
                .field
                    %p Password:
                    %p= password_field_tag :password, nil
                .field
                    <div id="rememberme">
                    = check_box_tag :remember_me, 1, params[:remember_me]
                    = label_tag :remember_me
                    </div>
                .actions
                    <div id="submitbutton">
                    = submit_tag "Login", :class => "btn btn-primary", :id =>"sign_in_button"
                    </div>
                .space
                #forget_password
                    %p= link_to "Forgot Password?", forget_password_profile_url
%br
.green
    .bold
        .center
            .italic
                %p Company Reviews and Company Profile are only available for registered users.
        
.center
    %p Don't have an account? Sign up now for free!
    %p= link_to "Sign Up Here", "/signup"
