%h2 Manage Events Submissions
=link_to "Create an Event", new_admin_event_path, :class => "btn btn-primary"
%br
%br
.btn-group
  %a.btn.btn-inverse.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    = @tab.humanize
    %span.caret
  %ul.dropdown-menu
    %li= link_to "Pending", admin_events_path(:tab => "pending") unless @tab == "pending"
    %li= link_to "Approved", admin_events_path(:tab => "approved") unless @tab == "approved"
    %li= link_to "Featured", admin_events_path(:tab => "featured") unless @tab == "featured"

%br
%br
%table{:class => "table"}
  %tr 
    %th Title
    %th Content
    %th Status
    %th Actions
  - @events.each do |event|
    %tr
      %td= event.title
      %td= event.content
      %td= event.status
      %td
        = link_to "Preview", admin_event_path(event), :class => "btn btn-primary"
        = link_to "Edit", edit_admin_event_path(event), :class => "btn btn-primary"
        = link_to "Delete", admin_event_path(event), :method => :delete, data: { :confirm => "Are you sure?" }, :class => 'btn btn-danger'
= will_paginate @eventsx