= simple_form_for [:student, @user], :html => {:multipart => true} do |f|
  = render "shared/errors", :object => @user 
  = image_tag @user.profile_image.url(:thumbnail) if @user.profile_image.present?
  = f.input :profile_image
  = f.input :first_name
  = f.input :last_name
  = f.simple_fields_for :student do |m|
    = m.input :school, :collection => Student::SCHOOLS
    = m.input :graduation_year
    = m.input :majors
    = m.input :nationality, :collection => Student::NATIONALITIES
  = f.input :email, label: 'School Email'
  %br
  %br
  <div id="settingchange">
  = f.button :submit, :name => "student", :class => "btn btn-primary"
  </div>

