.hero-unit8
	%ul.breadcrumb.navigation
		%li
			= link_to root_path do
				%i.icon-folder-open
				Home
		%span.divider >
		%li
			= link_to homes_company_hub_path do 
				Companies
		%span.divider >
		%li
			= link_to @testimonial.company_detail.company_name, company_detail_path(@testimonial.company_detail)
		%span.divider >
		%li.gray
			Full Company Review
%br
%br
.row
	.span8
		.hero-unit8
			%h1 Full Company Review
			<div class="reviewer_box">
			.testimonial_profile
				-if @testimonial.profile_image.present?
					= image_tag @testimonial.profile_image
				-else
					= image_tag("anonymous.jpeg")
			.span3
				.testimonial_particular
					.bold
						%p= @testimonial.student_name
					.green
						%p=@testimonial.created_at.strftime("%d %b %Y")
					%i.icon-briefcase
					=@testimonial.position
					%p
					%i.icon-comment
					=@testimonial.grade
			.span3
				.bold
					.inline
						%p{:id => "votes-"+@testimonial.id.to_s}= @testimonial.votes
						%p person(s) found it useful
				.voting
					.green
						Do you find it useful? 
					%td
					.upvote{:class => @upvoted ? :active : "", :tid => @testimonial.id }
						= link_to upvote_student_testimonial_path(@testimonial) do
							Upvote
							%i.icon-thumbs-up
					%td
					.downvote{:class => @downvoted ? :active : "", :tid => @testimonial.id }
						= link_to downvote_student_testimonial_path(@testimonial) do
							Downvote
							%i.icon-thumbs-down
			</div>
		%br
		.review_text
			- if @testimonial.contents["culture"].present?
				%h2 Culture
				%p= simple_format @testimonial.contents["culture"]
				%br
			- if @testimonial.contents["work_balance"].present?
				%h2 Work Balance
				%p= simple_format @testimonial.contents["work_balance"]
				%br
			- if @testimonial.contents["work_experience"].present?
				%h2 Overall Work Experience
				%p= simple_format @testimonial.contents["work_experience"]
				%br
			- if @testimonial.contents["advice"].present?
				%h2 Advice
				%p= simple_format @testimonial.contents["advice"]
				%br
			- if @from_current_student
				.center
					=link_to "Edit", edit_student_testimonial_path(@testimonial, :company_detail_id => @testimonial.company_detail.id), :class => "btn btn-primary", :id => "comment_button"
					=link_to "Delete", student_testimonial_path(@testimonial), :method => :delete,  data: { :confirm => "Are you sure?" }, :class => 'btn btn-danger', :id =>"comment_button"
				%br
			- if current_user.is_admin?
				= link_to "Delete", student_testimonial_path(@testimonial), :method => :delete, data: { :confirm => "Are you sure?" }, :class => 'btn btn-danger', :id =>"comment_button"
				%br
		.comment_section
			= simple_form_for @comment, :url => comment_student_testimonials_path(@comment), :method => 'post' do |f|
				= f.input :content, :label => "Comments"
				= f.input :testimonial_id, :as => :hidden, :input_html => { :value => @testimonial.id  }
				= f.button :submit, :class => "btn btn-primary", :id => "comment_submit"
		.comment_list
			- @comments.each do |c|
				.row
					.comment_profile
						-if c.user.profile_image.present?	
							=image_tag c.user.profile_image.url
						-else
							=image_tag("anonymous.jpeg")
					.span6
						.row
							.bold
								= c.user.first_name
							.green
								=c.created_at.strftime("%d %b %Y")
							.comment_container
								%p= simple_format c.content
				.herolist_comment
				%br
	.span4
		.hero-unit4
			%h1 Other Industries
			- CompanyDetail::INDUSTRIES.each do |industry|
				%i.icon-globe
				= link_to industry, industry_company_details_path(:category => industry)
		.hero-unit4
			%h1 Top Stories
			- @events.each do |event|
				.space
				%p= link_to event.title, event_path(event)
