.hero-unit3
  %br
  %br
  .pheading
    Dear Alumni,
  %br
  %h1 Welcome to MyFirstJob!
  %h2 Registration is quick and does not cost a dime!
  <div class="signupform">
  = simple_form_for @user do |f|
    = render "shared/errors", :object => @user
    = f.input :first_name
    = f.input :last_name
    = f.simple_fields_for :student do |m|
      = m.input :school
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    %br
    .psmall
      = link_to "By registering, you accept our Terms.", homes_terms_path
    %br
    %br
    .signupbutton
      = f.button :submit, :name => "alumni", :class => "btn btn-primary"
  </div>