.hero-unit8
  %ul.breadcrumb.navigation
    %li
      = link_to root_path do
        %i.icon-home
    %span.divider /
    %li.gray
      Sign Up
%br
%br
.row
  .span8
    .sign_up_box
      %h1 Register for free access to CareerScout
      %br
      = simple_form_for @user do |f|
        = render "shared/errors", :object => @user
        = f.input :first_name
        = f.input :last_name
        = f.simple_fields_for :student do |m|
          = m.input :school, :collection => Student::SCHOOLS
          = m.input :graduation_year
        = f.input :email, label: 'Email'
        = f.input :password
        = f.input :password_confirmation
        %br
        .center
          %p= link_to "By registering, you accept our Terms.", homes_terms_path
        %br
        .center
          = f.button :submit, :name => "student", :class => "btn btn-primary", :id => "sign_up_button"
  .span4
    .hero-unit4
      %h1 What are the benefits?
      %p All new members are able to see all the opportunities and programme catered by the companies.
      %br
      %p Most importantly, you are able to see "the sneak peek" and reviews on the companies you want to work at!