%p Welcome to MyFirstJob!
%h4 Registration is quick and does not cost time!
%h4 For Student,
= simple_form_for @user do |f|
  = render "shared/errors", :object => @user
  = f.input :first_name
  = f.input :last_name
  = f.simple_fields_for :student do |m|
    = m.input :school
    = m.input :graduation_year
  = f.input :email, label: 'School Email'
  = f.input :password
  = f.input :password_confirmation
  %br
  = f.button :submit, :name => "student", :class => "btn btn-primary"