.search_box_section
	= form_tag homes_company_hub_path, :method => :get do
		= label_tag :company_name, "Company Name:"
		= text_field_tag :search_key, params[:search_key], :placeholder => "Search Company Name"
		= label_tag :company_type, "Type of Company:"
		= select_tag :company_type, options_for_select( CompanyDetail::TYPES.map{|key| [ key.humanize, key]}.unshift(["All","all"]), params[:criterion])
		= label_tag :company_industry, "Industry:"
		= select_tag :company_industry, options_for_select( CompanyDetail::INDUSTRIES.map{|key| [ key.humanize, key]}.unshift(["All","all"]), params[:criterion])
		%br
		%br= submit_tag :Search, :name => nil, :class => "submit_search"