.hero-unit8
  %ul.breadcrumb.navigation
    %li
      = link_to root_path do
        %i.icon-home
    %span.divider /
    %li.gray
      Stories
%br
%br
.row
  .span8
    .hero-unit8
      %h1 Articles
      %p The latest news for cool undergarduates and young career people! Updated regularly with no boring option!
      %br
    - @events.each do |event|
      .span4
        .article_box
          .article_image_box
            = image_tag event.image.url
          <div class="snippets">
          %h1= link_to event.title, event_path(event)
          .green
            %p= event.created_at.strftime("%d %b %Y") + " by " + event.author
          .space
          .ellipsis
            %p= event.content
          </div>
    .pull-right
      = will_paginate @events
  .span4
    .hero-unit4
      %h1 Articles
      
      

