.row
  .span8
    .hero-unit1
      %h1 Hot Topics
      - @events.each do |event|
        .row  
          .span2
            <div class="photo150">
            = image_tag event.image.url
            </div>
          .span6
            %p= link_to event.title, event_path(event)
            .ellipsis
              %p= event.content
            .pull-right
              %p= link_to "...Read More", event_path(event)
        .herolist
      .pull-right
        = will_paginate @events
  .span4
    .hero-unit
      %h1 About Hot Topics
      %p We bring "Hot News" updated everyday!
      %p - Explore all the gossips and what-you-have-to-know stuffs in Singapore. 
      %p - Find tips for undergraduates and young working adults about life!
    .hero-unit
      %h1 Listing
      - @events.each do |event|
        %p= link_to event.title, event_path(event)