.hero-unit8
	%ul.breadcrumb.navigation
		%li
			= link_to root_path do
				%i.icon-home
		%span.divider /
		%li
			= link_to events_path do 
				Stories
		%span.divider /
		%li.gray
			= @event.title
%br
%br
.span8
	.hero-unit8
		%h1= @event.title
		.green
			%p= @event.created_at.strftime("%d %b %Y") + " by " + @event.author
		%br
		.span4.pull-right
			.article_image
				= image_tag @event.image.url
		%p= simple_format @event.content
		%br
		%br
		.italic
			%p= link_to @event.label, @event.label_link
.span4
	.hero-unit4
		%h1 About Stories
		.space
		%p We bring "Stories" updated everyday!
		.space
		%p - Explore all the gossips and what-you-have-to-know stuffs in Singapore. 
		.space
		%p - Find tips for undergraduates and young working adults about life!


