.row
	.span8
		.hero-unit1
			%h1 Story Details
			.row
				.span3
					<div class="photo220">
					= image_tag @event.image.url
					</div>
				.span4
					%h2= @event.title
					.green
						%p= @event.created_at.strftime("%d %b %Y") + " by " + @event.author
			.space
			.row
				%p= simple_format @event.content
				%br
				%br
				.italic
					%p= link_to @event.label, @event.label_link
				.herolist
				.pull-right
					=link_to "See all events", events_path, :class =>"btn btn-primary"
	.span4
		.hero-unit
			%h1 About Hot Topics
			%p We bring "Hot News" updated everyday!
			%p - Explore all the gossips and what-you-have-to-know stuffs in Singapore. 
			%p - Find tips for undergraduates and young working adults about life!


