= simple_form_for [:employer , @job], :html => {:multipart => true} do |f|
  = render "shared/errors", :object => @job
  = f.input :title
  = f.input :location
  %label Date Posted
  = f.text_field :date_posted, :value => @job.date_posted.try(:strftime,'%d/%m/%Y')
  = f.input :responsibility
  = f.input :requirements
  = f.input :job_type, :collection => Job::JOB_TYPE
  = f.input :industry, :collection => Job::JOB_INDUSTRY
  = f.input :job_scope, :collection => Job::JOB_SCOPE
  = f.input :salary
  %label Start Date
  = f.text_field :start_date, :value => @job.start_date.try(:strftime,'%d/%m/%Y')
  %label End Date
  = f.text_field :end_date, :value => @job.end_date.try(:strftime,'%d/%m/%Y')
  %label Deadline
  = f.text_field :deadline, :value => @job.deadline.try(:strftime,'%d/%m/%Y')
  = f.input :number_of_hires
  %br
  = f.button :submit, :class => "btn btn-primary"

