= will_paginate @interviews
- if @interviews.blank?
	%p Not Available
- @interviews.each do |interview|
	.row
		%ul.thumbnails
			%li.span8
				.thumbnail
					.row
						.span2
							%td= image_tag interview.profile_image
						.span4
							.row 
								.span2
									%p= interview.student_name
									%p= interview.position
									%p= interview.interview_date
									= link_to "show", student_interview_path(interview)
								.span2
									- upvoted, downvoted = interview.user_vote? current_user
									%td
										%p{:id => "votes"}= interview.votes
					.row
						.span8
							%p= interview.contents["interview_process"]
= link_to "Share your Interview", new_student_interview_path(:company_detail_id => @company_detail.id), :class => "btn btn-primary"