
- if @interviews.blank?
	%br
	.center
		.italic
			%p No Available Information. You may start to contribute now!
- @interviews.each do |interview|
	.row
		.span1
			<div class="photo100">
			= image_tag interview.profile_image
			</div>
		.span7
			.row 
				.span4
					%p= link_to interview.student_name, student_interview_path(interview)
					.green
						%p= interview.position
					%p Interview Date:
					%p= interview.interview_date
				.span1
					.inline
						%p Popularity:
						- upvoted, downvoted = interview.user_vote? current_user
						%p{:id => "votes"}= interview.votes
					%p= link_to "See Details", student_interview_path(interview)
	%br
	.row
		%p= interview.contents["interview_process"]
	.herolist
.pull-right
	= will_paginate @interviews
%br
.center
	= link_to "Share your Interview", new_student_interview_path(:company_detail_id => @company_detail.id), :class => "btn btn-primary"
%br