= will_paginate @testimonials
- if @testimonials.blank?
	%p Not Available
%p= "Positive : " + @testimonials.positives.size.to_s
%p= "Neutral : " + @testimonials.neutrals.size.to_s
%p= "Negative : " + @testimonials.negatives.size.to_s
- @testimonials.each do |testimonial|
	.row
		%ul.thumbnails
			%li.span8
				.thumbnail
					.row
						.span2
							%td= image_tag testimonial.profile_image
						.span4
							.row 
								.span2
									%p= testimonial.student_name
									%p= testimonial.position
									%p= testimonial.grade
									= link_to "show", student_testimonial_path(testimonial)
								.span2
									- upvoted, downvoted = testimonial.user_vote? current_user
									%td
										%p{:id => "votes-"+testimonial.id.to_s}= testimonial.votes
					.row
						.span8
							%p= testimonial.contents["work_experience"]
= link_to "Share your Testimonial", new_student_testimonial_path(:company_detail_id => @company_detail.id),	:class => "btn btn-primary"
