/.row
/	.span2
/		.pull-right
/			%p= "Positive : " + @testimonials.positives.size.to_s
/	.span2
/		.pull-right
/			%p= "Neutral : " + @testimonials.neutrals.size.to_s
/	.span2
/		.pull-right
/			%p= "Negative : " + @testimonials.negatives.size.to_s
%h1 Company Reviews
- if @testimonials.blank?
	%br
	.center
		.italic
			%p No Available Information. You may start to contribute now!
- @testimonials.each do |testimonial|
	.row
		.testimonial_profile
			= image_tag testimonial.profile_image
		.span3
			.testimonial_particular
				.bold
					%p= testimonial.student_name
				.green
					%p=testimonial.created_at.strftime("%d %b %Y")
				%i.icon-briefcase
				=testimonial.position
				%p
				%i.icon-comment
				=testimonial.grade
		.span3
			.bold
				.inline
					- upvoted, downvoted = testimonial.user_vote? current_user
					%p{:id => "votes-"+testimonial.id.to_s}= testimonial.votes
					%p person(s) found it useful
			%p= link_to "See Full Reviews", student_testimonial_path(testimonial)
	%br
	.row
		.testimonial_container
			%p= simple_format testimonial.contents["work_experience"]
	.herolist
	%br
.pull-right
	= will_paginate @testimonials
%br
%br
%br
.center
	- if current_user.nil?
		= link_to "Share your Testimonial", new_testimonial_path(:company_detail_id => @company_detail.id),	:class => "btn btn-primary"
	- else
		= link_to "Share your Testimonial", new_student_testimonial_path(:company_detail_id => @company_detail.id),	:class => "btn btn-primary"
%br