.btn= link_to "Share your Testimonial", new_student_testimonial_path(:company_detail_id => @company_detail.id)
.btn= link_to "Share your Interview", new_student_interview_path(:company_detail_id => @company_detail.id)

%br
%br
%table{:class => "table table-edit"}
	%tr
		%td Image
		%td= image_tag @company_detail.image if @company_detail.image.present?
	%tr
		%td Company Name
		%td= @company_detail.company_name
	%tr
		%td Company Type
		%td= @company_detail.company_type
	%tr
		%td Address
		%td= @company_detail.address
	%tr
		%td Number of Employees
		%td= @company_detail.number_of_employees
	%tr
		%td Tel
		%td= @company_detail.telephone
	%tr
		%td Fax
		%td= @company_detail.fax
	%tr
		%td Contact Email
		%td= @company_detail.contact_email

.btn= link_to "Company Overview", company_detail_path(@company_detail)
.btn= link_to "Testimonial", company_detail_path(@company_detail,:tab => "testimonial")
.btn= link_to "Interview", company_detail_path(@company_detail, :tab => "interview")
%br
%br
= render @tab
