.row
	.span8
		.row
			.span3
				.hero-unit1
					= image_tag @company_detail.image if @company_detail.image.present?
			.span5
				.hero-unit1
					%h2= @company_detail.company_name
					%p= @company_detail.company_type
					%p= @company_detail.number_of_employees 
					%br
					%p= @company_detail.address
					%br
					%p=@company_detail.telephone
					%p= @company_detail.fax
					%p= @company_detail.contact_email
		.herolist
		.row
			.hero-unit1
				%h2 About
				%p= @company_detail.about
				%h2 Award
				%p= @company_detail.award
				%h2 Opportunities
				%p= @company_detail.opportunities
		.row 
			.hero-unit1
				%h1 Testimonials
				- @testimonials.each do |testimonial|
					.row
						.span2
							%p= image_tag testimonial.profile_image
						.span3
							%p= testimonial.student_name
							%p= testimonial.position
							%p= testimonial.grade
							%p= link_to "show", student_testimonial_path(testimonial)
						.span2
							%p= testimonial.votes
					.hero-unit
						%p= testimonial.contents["work_experience"]
					.herolist
