.hero-unit8
	%ul.breadcrumb.navigation
		%li
			= link_to root_path do
				%i.icon-folder-open
				Home
		%span.divider >
		%li
			= link_to homes_company_hub_path do 
				Companies
		%span.divider >
		%li
			= link_to industry_company_details_path(:category => @company_detail.company_industry) do
				=@company_detail.company_industry
		%span.divider >
		%li.gray
			= @company_detail.company_name

%br
%br
.row
	.span8
		.hero-unit8
			.row
				.company_hub_image
					-if @company_detail.image.url.include?("missing.png")
						= image_tag("anonymous.jpeg")
					-else
						= image_tag @company_detail.image
				.span4
					.company_hub_description
						%h1= @company_detail.company_name
						%p= simple_format @company_detail.about
		- ts = @company_detail.testimonials.size
		.span4
			.company_comments
				.figure1
					%h1= ts == 0 ? 'NA' : number_to_percentage((@company_detail.testimonials.positives.size*100.0/ts), :precision => 0)
				.text
					%p
						%strong
							Percentage of Positive Company Reviews
		.span4
			.company_comments
				.figure2
					%h1= ts
				.text
					%p 
						%strong
							Number of Company Reviews by Employee & Interns
		.row
			.span4
				.company_details
					%h2 Company Particulars
					%table{:class => "table"}
						%tr 
							%td Industry:
							%td= @company_detail.company_industry
						%tr
							%td Type:
							%td= @company_detail.company_type
						%tr
							%td Address:
							%td= @company_detail.address
						- if @company_detail.contact_email.present?
							%tr
								%td Tel:
								%td= @company_detail.telephone
						- if @company_detail.contact_email.present?
							%tr
								%td Email:
								%td= @company_detail.contact_email
			.span4
				.company_details
					%h2 Top Review
					%p= @most_popular_testimonial.contents["work_experience"].split(".").first + "." unless @most_popular_testimonial.nil?
		.row
			<div id="company_navigation">
			.company-detail-navigation
				= link_to "Reviews", company_detail_path(@company_detail,:tab => "testimonial"), :class => @tab == "testimonial" ? "active btn" : "btn"
				= link_to "Opportunity", company_detail_path(@company_detail, :tab => "default"), :class => @tab == "default" ? "active btn" : "btn"
			.hero-unitcompany
				= render @tab
			</div>
	.span4
		.hero-unit4
			%h1 Other Industries
			- CompanyDetail::INDUSTRIES.each do |industry|
				%i.icon-globe
				= link_to industry, industry_company_details_path(:category => industry)
		.hero-unit4
			%h1 Top Stories
			- @events.each do |event|
				.space
				%p= link_to event.title, event_path(event)