/      .hero-unit1
/        %h1 Featured Companies
/        .row
/          - @featured_company_details.each do |c|
/            .span9
/              .photo130
/                = link_to(image_tag(c.image.url(:thumbnail)), company_detail_path(c))

=image_tag("Heroshot.jpg",:class=>'heroshot')
%br
%br
.row  
  .span8
    .hero-unit1
      %h1 Featured Topics
      - @events.each do |event|
        .row
          .span2
            <div class="photo150">
            = image_tag event.image.url(:thumbnail)
            = event.created_at.strftime("%d %b %Y") + " by " + event.author
            </div>
          .span6
            %p= link_to event.title, event_path(event)
            .ellipsis
              %p= event.content
            .pull-right
              %p= link_to "... Read More", event_path(event)
        .herolist
  .span4
    .row
      .hero-unit
        %h1 Employer
        %p Reach out to students and graduates effectively now through events, posts and referrals. Registration is free!
        .bigbutton
          %p=link_to "Are you employer?", employers_path, :class => "btn btn-primary"
    .hero-unit
      %h1 Listing
      - @events.each do |event|
        %p= link_to event.title, event_path(event)
    .row
      .hero-unit
        %h1 Find us
        .fb-like{"data-href" => "http://localhost:3000/", "data-send" => "true", "data-show-faces" => "true", "data-width" => "150"}
