.row
  .span8
    .row
      .hero-unit1
        %h1 Recent Posts
        %table{:class => "table table-edit"}
          %tr
            %th Date Posted
            %th Title
            %th Job Type
            %th Deadline
            %th Status
          - @jobs.each do |job|
            %tr
              %td= job.date_posted.try(:strftime,'%d/%m/%Y')
              %td= job.title
              %td= job.job_type
              %td= job.deadline.try(:strftime,'%d/%m/%Y')
              %td= job.status

  .span4
    .row
      .hero-unit
        %h1 Information
        %p= "Current Job/Internship Posts : #{@total_jobs}"
      .hero-unit
        %h1 Activity
        %p=link_to "Create your Company Profile", new_employer_company_detail_path, :class => "btn btn-primary"
        %p=link_to "Manage your Company Profile", employer_company_details_path, :class => "btn btn-primary"
        %p=link_to "Create new Job/Internship", new_employer_job_path, :class => "btn btn-primary"
        %p=link_to "Manage your Job/Internship", employer_jobs_path, :class => "btn btn-primary"
%br
%br
%br
%br
%br
%br
%br
  

