%table{:class => "table"}
  %tr 
    %th Company Name
    %th Type
    %th Status
    %th Actions
  - @company_details.each do |company_detail|
    %tr
      %td= company_detail.company_name
      %td= company_detail.company_type
      %td= company_detail.status
      %td
        = link_to "Edit", edit_student_company_detail_path(company_detail), :class => "btn btn-primary"
        = link_to "Delete", student_company_detail_path(company_detail), :method => :delete, data: { :confirm => "Are you sure?" }, :class => 'btn btn-danger'