.row  
  .span8
    .row
      .hero-unit1
        %h1 Latest Testimonials 
        - @testimonials.each do |testimonial|
          .row  
            .span2
              %p= image_tag testimonial.profile_image
            .span4
              %p= link_to testimonial.company_detail.company_name, company_detail_path(testimonial.company_detail)
              %p= "Industry : " + testimonial.company_detail.company_industry
              .ellipsis
                %p= testimonial.contents["work_experience"]
              %p= link_to "... Read More", student_testimonial_path(testimonial)
          .herolist
    .row
      .hero-unit1
        %h1 Featured Events
        - @events.each do |event|
          .row  
            .span2
              %p= image_tag event.image.url(:thumbnail)
            .span6
              %p= link_to event.title, event_path(event)
              .ellipsis
                %p= event.content
          .herolist
  .span4
    .row
      .hero-unit
        %h1 Contribution
        =link_to "Create a Company Profile", new_student_company_detail_path, :class => "btn btn-primary"
        =link_to "Manage your Company Profiles", student_company_details_path, :class => "btn btn-primary"
        =link_to "Write a Testimonial", new_student_testimonial_path, :class => "btn btn-primary"
        =link_to "Share an interview", new_student_interview_path, :class => "btn btn-primary"
    .row
      .hero-unit
        %h1 Personal
        =link_to "Edit Profile", edit_student_user_url(current_user), :class => "btn btn-primary"
    .row
      .hero-unit
        %h1 Membership
        %p Basic
        %p You will be able to see the testimonials if you are smart
