/.row  
/  .span8
/    .row
/      .hero-unit1
/        %h1 Latest Company Reviews
/        - @testimonials.each do |testimonial|
/          .row  
/            .span1
/              <div class="photo100">
/              = image_tag testimonial.profile_image
/              </div>
/            .span7
/              %p= link_to testimonial.company_detail.company_name, company_detail_path(testimonial.company_detail)
/              .green
/                %p= "Industry : " + testimonial.company_detail.company_industry
/              .space
/              .shortellipsis
/                %p= simple_format testimonial.contents["work_experience"]
/              .space
/              .pull-right
/                %p= link_to "... Read More",  company_detail_path(testimonial.company_detail)
/          .herolist
/      .hero-unit1
/        %h1 Latest Interviews
/        - @interviews.each do |interview|
/          .row  
/            .span1
/              <div class="photo100">
/              = image_tag interview.profile_image
/              </div>
/            .span7
/              %p= link_to interview.company_detail.company_name, company_detail_path(interview.company_detail)
/              .green
/                %p= "Industry : " + interview.company_detail.company_industry
/              .space
/              .shortellipsis
/                %p= simple_format interview.contents["interview_process"]
/              .space
/              .pull-right
/                %p= link_to "... Read More",  company_detail_path(interview.company_detail)
/          .herolist
/    .row
/      .hero-unit1
/        %h1 Featured Topics
/        - @events.each do |event|
/          .row  
/            .span2
/              <div class="photo150">
/              = image_tag event.image.url(:thumbnail)
/              </div>
/            .span6
/              %p= link_to event.title, event_path(event)
/              .green
/                %p= event.created_at.strftime("%d %b %Y") + " by " + event.author
/              .space
/              .ellipsis
/                %p= event.content
/              .space
/              .pull-right
/               %p= link_to "... Read More", event_path(event)
/          .herolist
/  .span4
/   .row
/      .hero-unit
/        %h1 Contribute
/        .space
/        %p=link_to "Create a Company Profile", new_student_company_detail_path, :class => "btn btn-primary"
/        .space
/        %p=link_to "Manage your Company Profiles", student_company_details_path, :class => "btn btn-primary"
/        .space
/        %p=link_to "Write a Company Review", new_student_testimonial_path, :class => "btn btn-primary"
/        .space
/        %p=link_to "Share an interview", new_student_interview_path, :class => "btn btn-primary"
/    .row
/      .hero-unit
/        %h1 Personal
/        .space
/        %p=link_to "Edit Profile", edit_student_user_url(current_user), :class => "btn btn-primary"
/    .row
/      .hero-unit
/        %h1 Stories Listing
/        - @events.each do |event|
/          .space
/          %p= link_to event.title, event_path(event)


=image_tag("Heroshot.png",:class=>'heroshot')
.heroshot_container
  %h1 Take an inside look at companies in Singapore
  .space
  .bold
    %h5 Join many Singaporeans who use CareerScout to read employee reviews and find their dream jobs & internships
  %br
  = form_tag homes_company_hub_path, :method => :get do
    Which industry are you interested in?
    = select_tag :company_industry, options_for_select( CompanyDetail::INDUSTRIES.map{|key| [ key.humanize, key]}.unshift(["All","all"]), params[:criterion])
    = submit_tag :Search, :name => nil, :id => "search_company_hub", :class => "btn btn-primary"
.row 
  .span8
    .hero-unit8
      %h1 Top Company Reviews
    .row
      <div id="company_list_home">
      - @testimonials.each do |testimonial|
        <div id="company_list_box">
        = link_to image_tag(testimonial.company_detail.image.url(:thumbnail)), company_detail_path(testimonial.company_detail), :class => "company_photo"
        <div class="wrapper" id="testimonial_home">
        %p= link_to testimonial.company_detail.company_name, company_detail_path(testimonial.company_detail)
        %p= simple_format testimonial.contents["work_experience"]
        </div>
        </div>
      </div>
    .hero-unit8
      %h1 Top Industries
    .row
      .home_photo
        =link_to image_tag("Banking.png"), '/company_details/industry?category=Banking'
      .home_photo
        =link_to image_tag("Legal.png"), '/company_details/industry?category=Legal'
      .home_photo
        =link_to image_tag("Healthcare.png"), '/company_details/industry?category=Healthcare+%26+Pharmaceutical'
      .home_photo
        =link_to image_tag("public.png"), '/company_details/industry?category=Public+Sector'
      .home_photo
        =link_to image_tag("Engineering.png"), '/company_details/industry?category=Engineering+%26+Manufacturing'
      .home_photo
        =link_to image_tag("Moreindustries.png"), '/company_hub'
  .span4
    .hero-unit4
      %h1 Top Stories
      - @events.each do |event|
        .space
        %p= link_to event.title, event_path(event)
      %br
      <script type="text/javascript"><!--google_ad_client = "ca-pub-7141414805566169";
      /* Homepage Ad */
      google_ad_slot = "2265020331";
      google_ad_width = 300;
      google_ad_height = 250;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    
