%html
  %head
    %title MyFirstJob
  = stylesheet_link_tag    "application", params[:controller], :media => "all"
  = javascript_include_tag "application", params[:controller]
  = csrf_meta_tags
  %body
    #fb-root
    :javascript
      (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=475780035833133"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
    #admin
      .navbar.navbar-inverse
        .navbar-inner
          .container-fluid
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            =link_to image_tag("Logo white caption.png"), root_path, :class => :brand
            .nav-collapse.collapse
            %ul.nav
              %li.divider-vertical
              %li{:class => (current_page?(root_path) ? :active : "") }
                = link_to student_root_path do
                  %i.icon-home
                  Home
              %li.divider-vertical
              %li{:class => (current_page?(homes_company_hub_path) ? :active : "") }
                = link_to homes_company_hub_path do
                  %i.icon-lock
                  Company Hub
              %li.divider-vertical
              %li{:class => (current_page?(homes_career_info_path) ? :active : "") }
                = link_to homes_career_info_path do
                  %i.icon-file
                  Career Info
              %li.divider-vertical
              %li{:class => (current_page?(events_path) ? :active : "") }
                = link_to events_path do
                  %i.icon-file
                  Stories
              %li.divider-vertical
            %ul.nav.pull-right
              %li
                = link_to edit_student_user_url(current_user) do
                  %i.icon-inbox
                  Settings
              %li.divider-vertical
              %li
                = link_to logout_url do
                  %i.icon-off
                  Logout

      .container
        = render "layouts/flash", :flash => flash
        = yield
        %footer
          %ul.breadcrumb
            %li
              = link_to "About us", homes_about_path
              %span.divider /
            %li
              = link_to "FAQ", homes_faq_path
              %span.divider /
            %li
              = link_to "Contact us", homes_contact_path
              %span.divider /
            %li
              = link_to "Terms", homes_terms_path
              %span.divider /
            %li
              = link_to "Privacy", homes_privacy_path
              %span.divider /
            %li.pull-right &copy2013 MyFirstJob. All Rights Reserved
