%html
  %head
    %title CareerScout Asia: Job, Internship & Company Reviews in Singapore 
  = stylesheet_link_tag    "application", params[:controller], :media => "all"
  = javascript_include_tag "application", params[:controller], "http://gdc.indeed.com/ads/apiresults.js"
  = csrf_meta_tags
  <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-42688047-1', 'careerscout.asia'); ga('send', 'pageview');
  </script>
  %body
    #fb-root
    :javascript
      (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=475780035833133"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
    #admin
      <div class="logo_box">
      </div>
      =link_to image_tag("CareerScout.png"), employer_root_path, :class => "brand"
      .navbar.navbar-inverse
        .navbar-inner
          .container-fluid
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .nav-collapse.collapse
            %ul.nav
              %li.divider-vertical
              %li{:class => (current_page?(root_path) ? :active : "") }
                = link_to employer_root_path do
                  Home
              %li.divider-vertical
              %li{:class => (current_page?(homes_company_hub_path) ? :active : "") }
                = link_to homes_company_hub_path do
                  Companies
              %li.divider-vertical
              %li{:class => (current_page?(homes_career_info_path) ? :active : "") }
                = link_to homes_career_info_path do
                  Jobs & Internships
              %li.divider-vertical
              %li{:class => (current_page?(events_path) ? :active : "") }
                = link_to events_path do
                  Stories
              %li.divider-vertical
            %ul.nav.pull-right
              %li.divider-vertical
              %li
                = link_to logout_url do
                  Logout

      .container
        = render "layouts/flash", :flash => flash
        = yield
        %footer
          %ul.breadcrumb.all
            %li
              = link_to "About us", homes_about_path
              %span.divider /
            %li
              = link_to "FAQ", homes_faq_path
              %span.divider /
            %li
              = link_to "Contact us", homes_contact_path
              %span.divider /
            %li
              = link_to "Terms", homes_terms_path
              %span.divider /
            %li
              = link_to "Privacy", homes_privacy_path
              %span.divider /
            %li &copy2013 CareerScout. All Rights Reserved
