%br
= simple_form_for [:employer, @company_detail], :html => {:multipart => true} do |f|
  = render "shared/errors", :object => @company_detail
  = f.input :image, :label => "Company Logo (Best in Square Dimension)"
  = f.input :company_name
  = f.input :company_type, :collection => CompanyDetail::TYPES
  = f.input :company_industry, :collection => CompanyDetail::INDUSTRIES
  = f.input :address
  = f.input :number_of_employees, :collection => CompanyDetail::NUMBER_OF_EMPLOYEES
  = f.input :telephone
  = f.input :fax
  = f.input :contact_email
  = f.input :about
  = f.input :award
  = f.input :opportunities, :label => "Opportunities for Undergraduates & Fresh Graduates"
  %br
  .center
    = f.button :submit, :class => "btn btn-primary"


